header{
    background-color: #4EA0FF;
    background-image: url('../img/pattern.png');
    height: 170px;
    background-repeat: repeat-x;
}

#logo{
    text-align: left;
    height: 70px;
    margin-top: 80px;
}

h1{
    font-size: 70px;
    margin-bottom: 4px;
}

.font{
    font-size: 20px;
}

.autore{
    color: #808080;
}

#booleaner{
    color: #20A9E5;
}

.immagini{
    margin-top: 30px;   
}

mark{
    background-color: yellow;
    color: black;
}

.lista{
    margin-top: 50px;
    margin-left: -20px;
}

table{
    margin-top: 60px;
    width: 100%;
    border-collapse: collapse
}

th{
    text-align: left;
}

td{
    width: 33%;
}

thead{
    background-color: #20A9E5;
    color: white;  
}

.dispari{
    background-color: #B1E5F2;
}

h3{
    margin-top: 40px;
    color: #808080;
    font-size: 20px;
}

.monitor{
    margin-top: -20px;
    font-size: 30px;
    color: white;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../img/monitor.jpg);
}

.graph{
    margin-top: -20px;
    font-size: 30px;
    color: white;
    height: 200px;
    background-repeat: no-repeat;
    background-image: url(../img/graph.jpg);
}